<div *ngIf="publication" class="edit-heigth">
    <div class="row mx-5" style="width: 90%;">
        <button mat-icon-button (click)="return()" title="return">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="custom-flex">
        <mat-card class="context-parameters">
            <mat-card-header>
                <mat-card-title>{{ publication.title }}</mat-card-title>
                <mat-card-subtitle>by {{ publication?.creator?.name }} at {{ formatDate(publication.creationDate) }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p class="text-center">
                    {{ publication.content }}
                </p>
            </mat-card-content>

            <mat-card-actions class="left-fixed-actions">
                <button (click)="galery(publication)" mat-icon-button title="View Publication Galery">
                    <mat-icon>collections</mat-icon>
                </button>
            </mat-card-actions>

            <mat-card-actions class="right-fixed-actions">
                <button mat-icon-button (click)="forum(publication)" title="{{ publication?.comments?.length }} commentaries over this article">
                    <mat-icon>forum</mat-icon>
                </button>

                <button mat-icon-button title="visualized by {{ publication.visualizations }} times">
                    <mat-icon>visibility</mat-icon>
                </button>
                
                <button *ngIf="!liked" (click)="like(publication)" mat-icon-button title="liked by {{ publication?.likes?.length }} users">
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button *ngIf="liked" (click)="dislike(publication)" mat-icon-button title="liked by {{ publication?.likes?.length }} users includes you">
                    <mat-icon>favorite</mat-icon>
                </button>

                <button *ngIf="publicationOwner(publication)" (click)="delete(publication)" mat-icon-button title="Delete your publication">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>